body {
    background-color: darkcyan;
    text-align: center;
    height: 100%;
}

.page-title {
    color: dimgray;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

div {
    display: block;
}

.section {
    color: slategrey;
    font-variant: small-caps;
}

#top-container {
    width: 600px;
}

#middle-container {
    width: 600px
}

.pos-text {
    background-color: whitesmoke;
    width: 90%;
    border-style: solid;
    height: 100px;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightblue;
    text-align: left;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.tagged-text {
    background-color: whitesmoke;
    width: 90%;
    border-style: solid;
    height: 100px;
    border-width: 2px;
    border-radius: 5px;
    border-color: deepskyblue;
    text-align-last: center;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#input-text {
    background-color: deepskyblue;
    padding: 30px, 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.1);
}

#input-text:hover {
    background-color: bisque;
    box-shadow: 0 0px 0px 0 rgba(248, 192, 192, 0.3), 0 2px 2px 0 rgba(0,0,0,0.1);
}

.box {
    background: white;
    position: relative;
    border-style: solid;
    border-width: 0.5px;
    border-color: dimgray;
    border-radius: 10px;
    padding: 20px;

    max-width: 600px;
    margin: 3px auto;
}

.author {
    font-variant: normal;
    font-size: medium;
    font-family: cursive, sans-serif;
    color: slategrey;
    text-align: justify;
}